@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;
}

h6 {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

i {
    display: inline-block;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo-name {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    padding-top: 10px;
}

.nav_span {
    margin-left: 10px;
}

.wrapper {
    display: flex;
    align-items: stretch;
    position: absolute;
    width: 100%;
}

#sidebar {
    min-width: 18%;
    max-width: 18%;
    background-image: linear-gradient( 107.2deg, rgba(150, 15, 15, 1) 10.6%, rgba(247, 0, 0, 1) 91.1%);
    color: #fff;
    position: relative;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 70px;
    max-width: 70px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    visibility: hidden;
}

#sidebar.active ul li a i {
    display: block;
    font-size: 1.2em;
    visibility: visible;
    text-align: center;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar .sidebar-header {
    padding: 20px;
    background-image: linear-gradient( 107.2deg, rgba(150, 15, 15, 1) 10.6%);
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 20px;
}

#sidebar ul.components {
    padding: 15px 0;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 16px;
    display: block;
}

#sidebar ul li:hover {
    color: #d92323;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 5%;
}

#sidebar.active .nav_name {
    visibility: hidden;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 1%;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #d92323;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


/* jumbotron */

.header2 {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(255, 53, 53, 0.8), rgba(217, 30, 30, 0.8)), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mountain-range.jpg');
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 15%;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
    font-size: 14px;
}

.botao {
    width: 12%;
    height: 38px;
    border-radius: 45px;
    outline: none;
    border: none;
    background-image: radial-gradient(circle, rgba(217, 0, 0, 1) 0%, rgba(121, 9, 9, 1) 100%);
    background-size: 200%;
    font-size: 12.5px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.botao:hover {
    background-position: right;
}

.botao:hover {
    background-position: right;
}

::selection {
    color: #fff;
    background-color: #b60202;
}

 ::-moz-selection {
    color: #fff;
    background-color: #b60202;
}


/* fim jumbotron */


/* status css */


/*css visible*/

.visible {
    visibility: visible;
}

.not-visible {
    visibility: hidden;
}