@keyframes bouce {
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
    }
    80% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
    }
}

.btn-effects {
    transition: all 400ms ease;
}

.btn-rotate {
    background: #17a2b8;
    transform-style: preserve-3d;
}

.btn-rotate:after {
    width: 100%;
    margin-left: -50%;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    line-height: 6.2rem;
    border-radius: 0.25rem;
    top: -100%;
    position: absolute;
    background: #17a2b8;
    box-sizing: border-box;
    content: 'Acessar';
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

.btn-rotate:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}

.btn-bounce:hover {
    animation: bouce 1s;
}