/* form {
    display: inline-block;
} */

#button {
    display: inline-block;
    background-color: #fd4c4f;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    margin-top: 2px;
    padding: 5px 15px;
}

#button:hover {
    cursor: pointer;
    opacity: .8;
}

.alert {
    padding: .5%;
}


/* .alert:nth-child(even) {
    background: #dfdfdf;
} */

.strike {
    text-decoration: line-through;
}

.alert:hover {
    cursor: pointer;
}